<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!--
          Stands in for an app other than a browser that claims the signer's authorisation URL.
          BrowserChoiceTest approves the link for it, which a declaration alone does not get.
        -->
        <activity
            android:name="io.github.yasumorishima.icrc167.android.SignerWebAppStandIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="id.ai"
                    android:pathPrefix="/authorize" />
            </intent-filter>
        </activity>
    </application>
</manifest>
